location {{ nginx_location.path }} {
    {% if 'root' in nginx_location %}
    root {{ playbook_dir }}/{{ nginx_location.root }};
    {% elif 'alias' in nginx_location %}
    alias {{ playbook_dir }}/{{ nginx_location.alias }};
    {% endif %}

    access_log syslog:server=unix:/dev/log;
    error_log syslog:server=unix:/dev/log;
}
